@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 120px;
}

.menu {
    font-size: 40px;
}

.dropdown {
  position: relative;
  top: 37px;
  left: 47px;
  display: inline-block;
  tr
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
  background-color: white;
  padding: 40px 50px;
}

a {
    font-family: Kanit;
    vfont-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.suffix-header {
    text-align: center;

}

.header-title {
    display: flex;
    justify-content: space-around;
}

.philip-martin {
    width: 50%;
    height: 83.5vh;
}

.background-header-title {
    width: 50%;
    height: 83.5vh;
    background-color: black;
}

.background-header-title-date-lifestyle {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 100px auto 0;
}

.background-header-title-date {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 7px;
    color: #FFFFFF;
}

.background-header-title-lifestyle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-transform: uppercase;
}

.background-header-title-text { 
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 55px 136px 0;
}

.background-header-title-text-minor {
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 30px 136px 0;
}


.btn-read-more {
    width: 198px;
    height: 55px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
    margin: 90px 136px 0;
}


.first-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 147px;
}


.date-lifestyle {
 display: flex;
 justify-content: space-between;
}

.date {
    width: 117px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.lifestyle {
    width: 57px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}


.first-section-main-text {
    width: 557px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1D;
}

.first-section-minor-text {
    width: 557px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
}

.first-section-part2 {
    display: flex;
    justify-content: space-around;
    margin: 20px 147px;
}

.first-section-part2-date-lifestyle {
    display: flex;
    justify-content: space-between;
}

.first-section-text-part2 {
    width: 336px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-see-all {
    width: 238px;
    height: 42px;
    background-color: black;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    margin: 50px auto 0;
}



.second-section-header {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 147px;
}

.second-section-background-header {
    background-color: black;
    width: 572px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.issue {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn-suscribe-now {
    width: 198px;
    height: 42px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
    margin-top: 10px;
}

.second-section-image {
    display: flex;
    justify-content: space-around;
    margin: 80px 147px 0;
}

.interview-title {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-transform: uppercase;
    text-decoration-line: underline;
    margin: 40px 0 0 174px;
}

.date-interview {
    display: flex;
    justify-content: space-between;
}

.interview {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.news {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    text-transform: uppercase;
}

.section-third-image {
    display: flex;
    justify-content: space-around;
    margin: 30px 147px 0;
}

.date-news {
    display: flex;
    justify-content: space-between;
}

.background-footer {
    background-color: black;
    width: 100%;
    height: 163px;
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.news-title {
    margin: 40px 0 0 174px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lifestyle-title {
    margin: 90px 0 0 174px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
    text-decoration-line: underline;
    text-transform: uppercase;
}